---
import '../styles/pages/home.css';
import HomeFeaturedPost from '../components/home/HomeFeaturedPost.astro';
import HomeHero from '../components/home/HomeHero.astro';
import HomePostGridSection from '../components/home/HomePostGridSection.astro';
import { getPostEntries } from '../content/post-queries';
import {
  isPublishedPost,
  selectFeaturedPost,
  selectHomeGridPosts,
  selectHomeHeroPosts,
  sortPostsByNewest,
} from '../content/post-helpers';
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const posts = sortPostsByNewest((await getPostEntries()).filter(isPublishedPost));
const featuredPost = selectFeaturedPost(posts);
const heroPosts = selectHomeHeroPosts(posts, featuredPost);
const gridPosts = selectHomeGridPosts(posts, featuredPost);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main id="main-content" class="home-main">
    <HomeHero posts={heroPosts} />
    {featuredPost && <HomeFeaturedPost post={featuredPost} />}
    <HomePostGridSection posts={gridPosts} />
  </main>
</BaseLayout>
